<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dandelion.gank">

    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- &lt;!&ndash;获取sd卡写的权限，用于文件上传和下载&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".view.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.ui.SearchResultActivity" />
        </activity>
        <activity android:name=".view.ui.SearchResultActivity">

            <!-- android:parentActivityName=".view.ui.MainActivity" -->


            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".view.ui.MainActivity" /> -->
            <!-- <meta-data -->
            <!-- android:name="android.app.searchable" -->
            <!-- android:resource="@xml/searcher" /> -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEARCH" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".view.ui.TabActivity" />
        <activity android:name=".view.ui.LoginActivity" />

        <!-- <service android:name=".view.service.DownloadService" /> -->
        <service android:name=".update.DownLoadService" />

        <activity android:name=".view.ui.RegisteredActivity" />
        <activity android:name=".view.ui.PhotoActivity" />
        <activity android:name=".view.ui.HomeDetailActivity" />
        <activity android:name=".view.ui.SubmitGankActivity" />
        <activity android:name=".view.ui.FeedbackActivity" />
        <activity android:name=".view.ui.AboutActivity" />
        <activity android:name=".view.ui.OssLicenseActivity" />
        <activity android:name=".view.ui.HelpGrammarActivity" />
        <activity android:name=".view.ui.ReadDetailActivity"></activity>
    </application>

</manifest>